<settings>
    <servers>
        <server>
            <id>zingyang-maven</id>
            <username>cnb</username>
            <password>4jVSP1c8dE4x1iQQffjamqOFJcG</password> <!-- 请替换为您的访问令牌 -->
        </server>
    </servers>
    <profiles>
        <profile>
            <id>zingyang-maven-profile</id>
            <repositories>
                <repository>
                    <id>zingyang-maven</id>
                    <url>https://maven.cnb.cool/zingyang/maven/-/packages/</url>
                </repository>
            </repositories>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
        </profile>
    </profiles>
</settings>